
*{
  margin: 5px;
  padding: 0px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}
.navbarWrapper{
  display: flex;
  justify-content: center;
}
.heading{
  width: 75%;
  height: 100px;  
}.heading  h1{
  font-size: 90px;
  font-weight:bolder;
  font-family:monospace;
  font-style: oblique;
  }
.heading p{
  font-size: 15px;
  font-weight:lighter;
  font-family:monospace;
  font-style: oblique;
}
.Try-it{
  background-color: black;
  width: 100px;
  color: aliceblue;
  padding: 10px;
  font-size:15px;
  border-radius: 20px;
}
.divBox{
  margin-left: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OuterBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 450px;
  border-radius: 70px;
  background-color: blueviolet;
}
.circleBox{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(243, 96, 231);
}
.rectangleBox{
  width: 200px; 
  height: 150px; 
  background-color: #3498db;
  transform: translate(50px, 50px) rotate(45deg) scale(2);
}
