:root{
    --dark-brown: #9E6F21;
    --light_brown: #FFEEB3;
    --bg_white : #FBEEAC;
    --bg-hover_grey: #FBFFDC;
}

*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
}

body{
    display: grid;
    justify-self: center;
    align-items:flex-end;
    min-height: 100vh;
    background: linear-gradient(to right,var(--light_brown) ,var(--dark-brown));
    padding: 1rem;
}

main{
    background:linear-gradient(to left ,#E8FFCE,#A8DF8E);;
    max-width: 45rem;
    width: 100%;
    padding: 1rem;
    right:500px;
    border-radius: 25px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
}
.testing{
    display: grid;
    flex-direction: column;
    gap: 1rem;
}
.testing__ques{
    border-radius: 10px;
    gap: 12px;
    background-color:var(--light_brown);
    color:var(--dark-brown);
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.testing__ques p{
    display: flex;
    justify-content: space-between;
}
.testing__ques:hover{
    background-color:var(--bg-hover_grey)
}
.testing__text__inactive{
height: 0px;
overflow: hidden;

}
.testing__answer_active{
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
    color: rgba(91, 91, 91, 0.831);
}
