 
.body{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .both{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:black;
    padding:20px;
  }
  .button_dropdown{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:40px;
    height:500px;
    width:800px;
    margin: 10px auto;
  background: -webkit-linear-gradient(90deg, #2A2F4F 10%, #191825 100% , #2CD3E1 30% );  
  }
  .button_dropdown{
    border-radius: 20px;
  }
  .button_dropdown {
    /* Existing styles */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button_btn{
    border: transparent;
    font-family:'Merriweather', serif;
    background-color: #3F2E3E;
    color: #FFE5AD;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin-top:-150px;
  }
  .dropdown-content{
    height:300px;
    width:350px;
    background-color:#FAF3F0;
    border-radius:10px;
    cursor:pointer;
  }
  .inside_btn{
    background-color:#A076F9;
    width: 90%;
    height:100px;
    border-radius:10px;
    margin:4px;
    padding:10px;
  }
  .dropdown-content{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     color: red;
  }
  
  .inside_btn{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    color:black; 
    transition: color 0.3s;
  }
  
  .inside_btn:hover{
    background-color:white;
  }
  .inside_btn a {
    color: black;
    font-size: 18px;
  }
  .active .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: red;
  }
   